# general
set -g prefix C-t
bind C-t send-prefix
set -g mode-keys emacs

# pane control
set -g base-index 1
setw -g pane-base-index 1
set -g pane-active-border-style fg=colour33
set -g pane-border-style fg=colour242
bind 0 kill-pane
bind - split-window -v -c "#{pane_current_path}"
bind | split-window -h -c "#{pane_current_path}"
bind h select-pane -L
bind l select-pane -R
bind j select-pane -D
bind k select-pane -U
bind C-h resize-pane -L 16
bind C-l resize-pane -R 16
bind C-j resize-pane -D 8
bind C-k resize-pane -U 8
bind H resize-pane -L 4
bind L resize-pane -R 4
bind J resize-pane -D 2
bind K resize-pane -U 2
unbind C-o # unbind lotate-window
bind a choose-tree


unbind -T copy-mode g # goto-line

# status bar
set -g status on
set -g status-style fg=colour231,bg=colour233
set -g status-left '#{?client_prefix,#[bg=colour191]#[fg=colour22],#[fg=colour191]} #S '
if '[ -n "$HOST_COLOR" ]' \
  'set -g status-right "#[bg=colour$HOST_COLOR] #h "' \
  'set -g status-right "#[bg=colour23] #h "'
set -g window-status-format '#[fg=colour240] #I  #[fg=colour33]#W (#P/#{window_panes}) ' # powerline/fonts must be installed and set as non-ascii font
set -g window-status-current-format '#[bg=colour26,fg=colour39] #I  #[fg=colour231]#W (#P/#{window_panes}) ' # this is also
set -g status-justify left

# plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible' # loads various prefered settings. e.g., use reattach-to-user-namespace only darwin
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'sainnhe/tmux-fzf'
TMUX_FZF_LAUNCH_KEY="f"

# https://github.com/tmux-plugins/tpm/issues/67#issuecomment-775411964
set-environment -g PATH "{{ .brewbin }}:/usr/local/bin:/bin:/usr/bin"
# tmux should use the default shell, but for some reason it doesn't, so specify it explicitly.
set -g default-shell {{ .brewbin }}/zsh

# run tpm (this must be last line)
run '~/.tmux/plugins/tpm/tpm'
