[user]
  useConfigOnly = true
  signingkey = {{ .gpgkey }}
  email = amutake.s@gmail.com
  name = amutake
[color]
  ui = auto
[core]
  quotepath = false
  editor = vim
  pager = delta # https://github.com/dandavison/delta
[commit]
  gpgsign = true
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
  line-numbers = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
